*{
margin:0;
padding:0;
box-sizing: border-box;
}
.main-width{
  width: 1024px;
  margin: 0 auto;
}
.color{
  color: rgb(36, 186, 159);
}
header{
background-color: black;
}
header h1{
  color: white;
}
nav{

}
.slasher{

}
.articles{

}
.price-list{

}
.contact{

}
footer{

}
