*{
margin:0;
padding:0;
box-sizing: border-box;
}
.main-width{
  width: 1024px;
  margin: 0 auto;
}
.color{
  color: rgb(36, 186, 159);
  font-weight: bold;
}
header{
background-color: black;
height: 50px;
font-family: Arial, sans-serif;
text-transform: uppercase;
}
div.flex{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
header h1{
  color: white;
  font-weight: normal;
  font-size: 18px;
}
nav.header__container{
width: 410px;
}
.header__navigation {
  list-style: none;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header__list-item {
}
.header__link {
  font-size: 18px;
  color: white;
  text-decoration: none;
  list-style: none;
  font-weight: normal;
  position: relative;
}
.header_subnavigation{
  position: absolute;
  background: black;
  padding: 10px;
  list-style: none;
text-transform: none;
}
.slasher{
}
.articles{

}
.price-list{

}
.contact{

}
footer{

}
